python = 3.9.0
conda install pytorch==1.12.1 torchvision==0.13.1 torchaudio==0.12.1 cudatoolkit=11.6 -c pytorch -c conda-forge
pip install opencv-python = 4.7.0.68
pip install matplotlib = 3.7.0
pip install tqdm = 4.64.1